<p id="notice"><%= notice %></p>

<p>
  <strong>Comentario:</strong>
  <%= @attempt.comentario %>
</p>

<p>
  <strong>Empleado</strong>
  <%= @employee.name %>
</p>

<%= link_to 'Atras', incident_attempts_path(@incident) %>
