<ul class="nav nav-tabs">
  <li class="active"><%= link_to "Productividad de Empleados", reports_employee_productivity_path() %></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Messages</a></li>
</ul>

<%= @incidents %>